#tagsExport #tagsTable {
    width: 500px;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid black;
}

#tagsTable {
    margin-top: 10px;
}

#tagsTable td {
    padding: 0;
}